<div class="px-4 py-5 sm:px-6 overflow-hidden">

  <p class="text-kms-blue text-xs font-medium mb-2 text-right">
    Raum {{ quiz.room }}
  </p>
  <div class="w-full h-2 bg-gray-200 rounded-full">
    <div [style]="{width: progress + '%'}" class="text-center h-full text-xs text-white bg-kms-blue rounded-full"></div>
  </div>

  <app-quiz-question
    *ngIf="quiz.questions.length > currentQuestion; else quizSuccess"
    [question]="quiz.questions[currentQuestion]"
    (answerSelected)="nextQuestion()"
  ></app-quiz-question>

  <ng-template #quizSuccess>
    <app-quiz-success></app-quiz-success>
  </ng-template>

</div>
