<div #questionElement class="slide-in-blurred-right">
  <div *ngIf="picture" class="flex justify-center">
    <img [src]="picture" alt="question-picture" class="shadow-lg rounded-xl w-52 mt-5">
  </div>

  <div class="my-5">{{ question.question }}</div>

  <div>
    <div *ngFor="let a of question.answers" class="border border-gray-200 rounded-md my-3">
      <div (click)="answer(a, $event)" class="p-3 cursor-pointer select-none rounded-md">
        {{ a.answer }}
      </div>
    </div>
  </div>
</div>
