<div class="py-5">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Statistiken
  </h3>
</div>

<div class="shadow-lg rounded-xl w-full mb-10 bg-white relative border border-kms-blue overflow-hidden">
  <div class="flex flex-col items-center border-b border-kms-blue p-6">
    <p class="text-kms-blue text-underline text-7xl">{{ totalScore | number: '1.0-0' }}</p>
    <p class="text-gray-800 text-md">Score aller Quizzes</p>
  </div>
  <div class="flex flex-col items-center px-6 py-3">
    <h6 class="text-gray-800 score-desc">Der Score wird aus der Zeit und der Anzahl der Fehler berechnet. Höher ist besser.</h6>
  </div>
</div>

<div class="shadow-lg rounded-xl bg-kms-blue w-full p-6 bg-white relative overflow-hidden">
  <div class="flex items-center my-4 text-blue-500 rounded justify-between">
    <div class="flex flex-col w-full ml-2 items-center justify-evenly">
      <p class="text-white text-4xl">{{ answered }}</p>
      <p class="text-blue-200 text-sm">
        Fragen beantwortet
      </p>
    </div>
    <div class="flex flex-col w-full ml-2 items-center justify-evenly">
      <p class="text-white text-4xl">{{ fails }}</p>
      <p class="text-blue-200 text-sm">
        Fehler insgesamt
      </p>
    </div>
  </div>
</div>

<div class="h-screen flex items-end justify-center">
  <button routerLink="reset"
          type="button"
          class="py-2 px-4 bg-red-600 text-white w-50 h-10 mb-20 text-center shadow-md rounded-lg mt-5">
    Quiz zurücksetzen
  </button>
</div>
