<div class="bg-white p-3 rounded-md">
  <div class="px-4 py-5 sm:px-6">
    <div class="relative flex justify-start items-center w-full border-b-2 border-gray-300">
      <span class="absolute bg-white pr-2 font-semibold">Einstellungen</span>
    </div>

    <button type="submit" class="mt-10 w-full bg-red-600 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white">Quizdaten löschen</button>
    <p class="mt-1 max-w-2xl text-xs text-gray-500">
      Löscht alle gespeicherten Antworten auf diesem Gerät.
    </p>

  </div>
</div>
